<h1>HyperFest</h1>
<h2>HyperFest</h2>
<h3>HyperFest</h3>
<h4>HyperFest</h4>
<h5>HyperFest</h5>
<p class = "p1">Seja bem vindo ao HyperFest</p>
<p class = "p2">Seja bem vindo ao HyperFest</p>
<p class = "p3">Seja bem vindo ao HyperFest</p>
<ul>
    <li>List List</li>
</ul>
<a class = "a1" href="">Link Link</a><br>
<a class = "a2" href="">Link Link</a>
<br><br>

<button class="trans-button">
    <span class="material-symbols ico-text">dashboard</span>
    <span class = "btn-text">VISUALIZAR PERFIL</span>
</button>
<button class="trans-button">
    <span class = "btn-text">VISUALIZAR PERFIL</span>
</button>
<button class="trans-button">
    <span class="material-symbols">dashboard</span>
</button>

<button class="color-button">
    <span class="material-symbols ico-text">dashboard</span>
    <span class = "btn-text">VISUALIZAR PERFIL</span>
</button>
<button class="color-button">
    <span class = "btn-text">VISUALIZAR PERFIL</span>
</button>
<button class="color-button">
    <span class="material-symbols">dashboard</span>
</button>

<img class = "image-box" src="assets/images/sun.jpeg" alt="">

<div class = "video-box">
    <video #myVideo muted autoplay loop playsinline webkit-playsinline>
        <source src="assets/videos/sondella.mp4" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
    </video>
    <button><span class="material-symbols">pause</span></button>
</div>

<div class = "counter">
    <span class = "counter-name h4">Concluidos</span>
    <span class = "counter-number h3">12</span>
</div>

<div class = "timer">
    <span class = "time-text h2">
        23&nbsp;:&nbsp;59&nbsp;:&nbsp;59
    </span>
</div>

<nav>
    <img src="/assets/images/logo_empty.png" alt="Logo">
    <span class="material-symbols">menu</span>
</nav>

<hr class = "hr1">
<hr class = "hr2">

<div class = "event-tag">
    <span class="material-symbols">devices</span>
    <span class = "tag-name p1">Tecnologia</span>
</div>

<div class="event-status">
    <span class="material-symbols">
    radio_button_unchecked
    </span>
    <span class = "p2">Futuro</span>
</div>
<div class="event-status">
    <span class="material-symbols">
    radio_button_checked
    </span>
    <span class = "p2">Activo</span>
</div>
<div class="event-status">
    <span class="material-symbols">
    check_circle
    </span>
    <span class = "p2">Concluído</span>
</div>

<div class = "event">
    <div class = "event-info">
        <div class = "event-name">
            <span class="h5">Carnaval do Picasso</span>
        </div>
        <div class = "event-location">
            <span class="material-symbols">
                pin_drop
            </span>
            <span class = "p3">South Beach - Maputo</span>
        </div>
        <div class = "event-dativity">
            <div class = "event-date">
                <span class="material-symbols">
                    calendar_month
                </span>
                <span class = "p3">01/01/2000</span>
                <span class = "p3 hour">18:00</span>
            </div>
        </div>
        <div class = "event-price">
            <span class = "p2">1500</span>
            <span class = "p2"> - </span>
            <span class = "p2">4000</span>
            <span class = "p2"> MZN</span>
        </div>
    </div>
    <div class = "event-imagebox">
        <img class = "event-image" src="/assets/images/sun.jpeg" alt="">
    </div>
</div>

<div class = "organizer">
    <div class = "organizer-name">
        <span class = "h5">Picasso Eventos</span>
    </div>
    <div class = "organizer-imagebox">
        <img class = "organizer-image" src="/assets/images/South Beach Map CROP.png" alt="">
    </div>
</div>

<div class = "page-selector">
    <div class = "page-selector-sides left-side">
        <button class = "btn-left onebtn"><span class="material-symbols">first_page</span></button>
        <button class = "btn-right twobtn"><span class="material-symbols">chevron_left</span></button>
    </div>
    <div class = "page-selector-middle">
        <ul>
            <li class = "page-number">1</li>
            <li class = "page-number">2</li>
            <li class = "page-number">3</li>
        </ul>
    </div>
    <div class = "page-selector-sides right-side">
        <button class = "btn-left threebtn"><span class="material-symbols">chevron_right</span></button>
        <button class = "btn-right fourbtn"><span class="material-symbols">last_page</span></button>
    </div>
</div>

<div class = "ticket-box">
    <div class = "ticket-info">
        <h5>Normal</h5>
        <p class = "p3">1500 MZN</p>
    </div>
    <div class = "ticket-quantity">
        <span class="material-symbols l-add">add</span>
        <span class = "l-num h3">7</span>
        <span class="material-symbols r-remove">remove</span>
    </div>
</div>

<div class = "message-box">
    <div class = "mb-user">
        <div class = "mb-imagebox">
            <img class = "mb-image" src="/assets/images/sun.jpeg" alt="">
        </div>
        <div class = "mb-info">
            <h4>Shelton Macave</h4>
            <div class = "mb-date">
                <span class = "p3 hour">19:00</span>
                &nbsp;
                &nbsp;
                <span class = "p3 date">02/01/2000</span>
            </div>
        </div>
    </div>
    <span class = "message p3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit repudiandae, perspiciatis eos alias labore nam ut quasi ratione minus corrupti pariatur.</span>
</div>

<div class="tab-switcher">
    <button class="tab active">REGISTRO</button>
    <button class="tab">LOGIN</button>
</div>

<div class="upload-box">
  <span class="material-symbols">image</span>
</div>

<div class="sort-panel">
    <div class = "sort-btnbox">
        <div class = "sort-button"></div>
    </div>
    <div class = "sort-value">
        <span class="material-symbols">arrow_upward</span>
        <span class = "sort-text h4">Nome</span>
        <span class="material-symbols">arrow_downward</span>
    </div>
    <div class = "sort-value">
        <span class="material-symbols">arrow_upward</span>
        <span class = "sort-text h4">Data</span>
        <span class="material-symbols">arrow_downward</span>
    </div>
    <div class = "sort-value">
        <span class="material-symbols">arrow_upward</span>
        <span class = "sort-text h4">Preço</span>
        <span class="material-symbols">arrow_downward</span>
    </div>
    <div class = "sort-value">
        <span class="material-symbols">arrow_upward</span>
        <span class = "sort-text h4">Popularidade</span>
        <span class="material-symbols">arrow_downward</span>
    </div>
</div>

<div class="filter-panel">
    <div class = "filter-btnbox">
        <button>
            <span class = "material-symbols">filter_alt</span>
        </button>
        <div class = "filter-button"></div>
    </div>
    <div class = "filter-value">
        <span class = "filter-text h4">Tipo</span>
    </div>
    <div class = "filter-value">
        <span class = "filter-text h4">Categoria</span>
    </div>
    <div class = "filter-value">
        <span class = "filter-text h4">Data</span>
    </div>
    <div class = "filter-value-price">
        <span class = "filter-text h4">Valor Máximo: {{ valor }} MZN</span>
        <md-slider
        min="0"
        max="100"
        step="1"
        [attr.value]="valor"
        discrete
        markers
        (input)="onSliderChange($event)"
        ></md-slider>
    </div>
</div>

<div class="filter-panel-type">
    <div class = "filter-type-btnbox">
        <div class = "filter-type-button"></div>
    </div>
    <div class = "filter-type-value">
        <input type="checkbox" id="evento" name="evento"/>
        <label class = "h4" for="evento">Evento</label>
    </div>
    <div class = "filter-type-value">
        <input type="checkbox" id="organizador" name="organizador"/>
        <label class = "h4" for="organizador">Organizador</label>
    </div>
</div>

<div class="filter-panel-category">
  <div class="filter-category-btnbox">
    <div class="filter-category-button"></div>
  </div>

  <div class="filter-category-value">
    <input type="checkbox" id="comunidade" name="comunidade" />
    <label class="h4" for="comunidade">Comunidade</label>
  </div>

  <div class="filter-category-value">
    <input type="checkbox" id="cultura" name="cultura" />
    <label class="h4" for="cultura">Cultura</label>
  </div>

  <div class="filter-category-value">
    <input type="checkbox" id="desporto" name="desporto" />
    <label class="h4" for="desporto">Desporto</label>
  </div>

  <div class="filter-category-value">
    <input type="checkbox" id="educacao" name="educacao" />
    <label class="h4" for="educacao">Educacao</label>
  </div>

  <div class="filter-category-value">
    <input type="checkbox" id="entretenimento" name="entretenimento" />
    <label class="h4" for="entretenimento">Entretenimento</label>
  </div>

  <div class="filter-category-value">
    <input type="checkbox" id="familia" name="familia" />
    <label class="h4" for="familia">Familia</label>
  </div>

  <div class="filter-category-value">
    <input type="checkbox" id="gastronomia" name="gastronomia" />
    <label class="h4" for="gastronomia">Gastronomia</label>
  </div>

  <div class="filter-category-value">
    <input type="checkbox" id="moda" name="moda" />
    <label class="h4" for="moda">Moda</label>
  </div>

  <div class="filter-category-value">
    <input type="checkbox" id="negocios" name="negocios" />
    <label class="h4" for="negocios">Negocios</label>
  </div>

  <div class="filter-category-value">
    <input type="checkbox" id="social" name="social" />
    <label class="h4" for="social">Social</label>
  </div>

  <div class="filter-category-value">
    <input type="checkbox" id="tecnologia" name="tecnologia" />
    <label class="h4" for="tecnologia">Tecnologia</label>
  </div>
</div>

<div class="filter-panel-date">
    <div class = "filter-date-btnbox">
        <div class = "filter-date-button"></div>
    </div>
    <div class="filter-date-value">
        <h4>Selecione o intervalo de datas</h4>
        <input
        id="dateRange"
        type="text"
        placeholder="Seleciona intervalo de datas"
        class="date-picker"
        />
    </div>
</div>

<div class="filter-panel-info">
    <div class = "filter-info-btnbox">
        <div class = "filter-info-button"></div>
    </div>
    <div class="filter-info-value">
        <span class="material-symbols">check_circle</span>
        <h5>Compra Efectuada com Sucesso</h5>
    </div>
</div>

<div class="ticket-panel">
    <div class = "ticket-panel-btnbox">
        <div class = "ticket-panel-button"></div>
    </div>
    <div class="ticket-info-box">
        <div class="ticket-info">
            <h3>VVIP</h3>
            <P class = "p2">4000 MZN</P>
        </div>
        <span class = "p1 ticket-total-quantity">123</span>
    </div>
    <div class = "ticket-total-box">
        <div class = "ticket-total-info">
            <h3>Total</h3>
            <p class = "p1">4000 MZN</p>
        </div>
        <div class="ticket-buy">
            <button class="color-button">Comprar</button>
        </div>
    </div>
</div>

<section class = "menu">
    <div class = "menu-up-box">
        <div class = "menu_sb">
            <span class="material-symbols">search</span>
            <input class = "h5" type="text" placeholder="Pesquisar eventos, organizadores...">
        </div>
        <span class="material-symbols">close</span>
    </div>

    <div class = "menu-content">
        <div class = "menu-options">
            <div class = "menu-option">
                <a href="#"><h2>Hyperfest</h2></a>
                <hr>
            </div>
            <div class = "menu-option">
                <a href="#"><h2>Eventos</h2></a>
                <hr>
            </div>
            <div class = "menu-option">
                <a href="#"><h2>Organizadores</h2></a>
                <hr>
            </div>
            <div class = "menu-option">
                <a href="#"><h2>Suporte</h2></a>
            </div>
        </div>

        <div class = "menu-events">
            <div class = "event">
                <div class = "event-info">
                    <div class = "event-name">
                        <span class="h5">Carnaval do Picasso</span>
                    </div>
                    <div class = "event-location">
                        <span class="material-symbols">
                            pin_drop
                        </span>
                        <span class = "p3">South Beach - Maputo</span>
                    </div>
                    <div class = "event-dativity">
                        <div class = "event-date">
                            <span class="material-symbols">
                                calendar_month
                            </span>
                            <span class = "p3">01/01/2000</span>
                            <span class = "p3 hour">18:00</span>
                        </div>
                    </div>
                    <div class = "event-price">
                        <span class = "p2">1500</span>
                        <span class = "p2"> - </span>
                        <span class = "p2">4000</span>
                        <span class = "p2"> MZN</span>
                    </div>
                </div>
                <div class = "event-imagebox">
                    <img class = "event-image" src="/assets/images/sun.jpeg" alt="">
                </div>
            </div>

            <div class = "organizer">
                <div class = "organizer-name">
                    <span class = "h5">Picasso Eventos</span>
                </div>
                <div class = "organizer-imagebox">
                    <img class = "organizer-image" src="/assets/images/South Beach Map CROP.png" alt="">
                </div>
            </div>
            <div class = "event">
                <div class = "event-info">
                    <div class = "event-name">
                        <span class="h5">Carnaval do Picasso</span>
                    </div>
                    <div class = "event-location">
                        <span class="material-symbols">
                            pin_drop
                        </span>
                        <span class = "p3">South Beach - Maputo</span>
                    </div>
                    <div class = "event-dativity">
                        <div class = "event-date">
                            <span class="material-symbols">
                                calendar_month
                            </span>
                            <span class = "p3">01/01/2000</span>
                            <span class = "p3 hour">18:00</span>
                        </div>
                    </div>
                    <div class = "event-price">
                        <span class = "p2">1500</span>
                        <span class = "p2"> - </span>
                        <span class = "p2">4000</span>
                        <span class = "p2"> MZN</span>
                    </div>
                </div>
                <div class = "event-imagebox">
                    <img class = "event-image" src="/assets/images/sun.jpeg" alt="">
                </div>
            </div>

            <div class = "organizer">
                <div class = "organizer-name">
                    <span class = "h5">Picasso Eventos</span>
                </div>
                <div class = "organizer-imagebox">
                    <img class = "organizer-image" src="/assets/images/South Beach Map CROP.png" alt="">
                </div>
            </div>
            <div class = "event">
                <div class = "event-info">
                    <div class = "event-name">
                        <span class="h5">Carnaval do Picasso</span>
                    </div>
                    <div class = "event-location">
                        <span class="material-symbols">
                            pin_drop
                        </span>
                        <span class = "p3">South Beach - Maputo</span>
                    </div>
                    <div class = "event-dativity">
                        <div class = "event-date">
                            <span class="material-symbols">
                                calendar_month
                            </span>
                            <span class = "p3">01/01/2000</span>
                            <span class = "p3 hour">18:00</span>
                        </div>
                    </div>
                    <div class = "event-price">
                        <span class = "p2">1500</span>
                        <span class = "p2"> - </span>
                        <span class = "p2">4000</span>
                        <span class = "p2"> MZN</span>
                    </div>
                </div>
                <div class = "event-imagebox">
                    <img class = "event-image" src="/assets/images/sun.jpeg" alt="">
                </div>
            </div>

            <div class = "organizer">
                <div class = "organizer-name">
                    <span class = "h5">Picasso Eventos</span>
                </div>
                <div class = "organizer-imagebox">
                    <img class = "organizer-image" src="/assets/images/South Beach Map CROP.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class = "menu-bottom-box">
        <div class = "menu-panel-btnbox">
            <div class = "menu-panel-button"></div>
        </div>
        <div class = "bottom-logged">
            <div class = "bottom-user">
                <span class = "material-symbols">account_circle</span>
                <h3>Shelton Macave</h3>
            </div>
            <button class = "color-button">
                <span class = "material-symbols">dashboard</span>
                Visualizar Perfil
            </button>
            <button class = "trans-button">
                <span class = "material-symbols">logout</span>
                Logout
            </button>
        </div>

        <div class = "bottom-register">
            <span class = "material-symbols">account_circle</span>
            <button class = "color-button">
                <span class = "material-symbols">edit_note</span>
                Registro
            </button>
            <button class = "color-button">
                <span class = "material-symbols">login</span>
                Login
            </button>
        </div>
    </div>
</section>

<footer>
    <div id = "foot1">
        <div class = "foot1in">
            <h4>Suporte</h4>
            <a class = "a1" href="#">FAQ</a>
            <a class = "a1" href="#">Suporte Técnico</a>
            <a class = "a1" href="#">Feedback e Sugestões</a>
        </div>
        <div class = "foot1in">
            <div class="foot2in1">
                <img src="../../../assets/images/logo_empty.png" alt="Logo">
            </div>
            <div class="foot2in1" id = "f2in2">
                <i class="fa fa-whatsapp"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-instagram"></i>
            </div>
        </div>
    </div>

    <div id = "foot2">
        <div class = "foot2in">
            <h4>Termos e Políticas</h4>
            <a class = "a1" href="#">Termos de Uso</a>
            <a class = "a1" href="#">Política de Cookies</a>
            <a class = "a1" href="#">Política de Privacidade</a>
        </div>
        <div class="foot2in">
            <a class = "a1" href="#">hyperfest&#64;gmail.com</a>
            <a class = "a1" href="#">+258 82 355 1117</a>
            <a class = "a1" href="#">+258 85 567 3021</a>
        </div>
    </div>

    <div id ="foot3">
        <hr>
        <p class = "p3">©HyperFest. Todos os direitos reservados.</p>
    </div>
</footer>