<nav>
    <img src="../../../assets/images/logo_empty.png" alt="Logo">
    <span class="material-symbols">menu</span>
</nav>

<img id ="backimg" src="../../../assets/images/sun.jpeg" alt="">

<section id = "menu">
    <div id = "menu1">
        <div id = "menu_sb">
            <span class="material-symbols">search</span>
        </div>
        <span class="material-symbols">close</span>
    </div>

    <div id = "menu2">
        <div id = "menu-options">
            <div class = "menu-option">
                <a class = "a3" href="#">Hyperfest</a>
                <hr>
            </div>
            <div class = "menu-option">
                <a class = "a3" href="#">Eventos</a>
                <hr>
            </div>
            <div class = "menu-option">
                <a class = "a3" href="#">Organizadores</a>
                <hr>
            </div>
            <div class = "menu-option">
                <a class = "a3" href="#">Suporte</a>
            </div>
        </div>

        <div id = "menu-results">
            <div class = "event">
                <div class = "event-info">
                    <div class = "event-name">
                        <span class="h4">Carnaval do Picasso</span>
                    </div>
                    <div class = "event-location">
                        <span class="material-symbols-outlined">
                            pin_drop
                        </span>
                        <span class = "p2">South Beach - Maputo</span>
                    </div>
                    <div class = "event-dativity">
                        <div class = "event-date">
                            <span class="material-symbols-outlined">
                                calendar_month
                            </span>
                            <span class = "p2">01/01/2000</span>
                            <span class = "p2 hour">18:00</span>
                        </div>
                        <div class="event-status">
                            <span class="material-symbols-outlined">
                                radio_button_checked
                            </span>
                            <span class = "p2">Activo</span>
                            
                        </div>
                    </div>
                    <div class = "event-price">
                        <span class = "h5">1500</span>
                        <span class = "h5"> - </span>
                        <span class = "h5">4000</span>
                        <span class = "h5"> MZN</span>
                    </div>
                </div>
                <div class = "event-imagebox">
                    <img class = "event-image" src="../../../assets/images/sun.jpeg" alt="">
                </div>
            </div>

            <div class = "organizer">
                <div class = "organizer-name">
                    <span class = "h4">Picasso Eventos</span>
                </div>
                <div class = "organizer-imagebox">
                    <img class = "organizer-image" src="../../../assets/images/South Beach Map CROP.png" alt="">
                </div>
            </div>

            <div class = "event">
                <div class = "event-info">
                    <div class = "event-name">
                        <span class="h4">Carnaval do Picasso</span>
                    </div>
                    <div class = "event-location">
                        <span class="material-symbols-outlined">
                            pin_drop
                        </span>
                        <span class = "p2">South Beach - Maputo</span>
                    </div>
                    <div class = "event-dativity">
                        <div class = "event-date">
                            <span class="material-symbols-outlined">
                                calendar_month
                            </span>
                            <span class = "p2">01/01/2000</span>
                            <span class = "p2 hour">18:00</span>
                        </div>
                        <div class="event-status">
                            <span class="material-symbols-outlined">
                                radio_button_checked
                            </span>
                            <span class = "p2">Activo</span>
                            
                        </div>
                    </div>
                    <div class = "event-price">
                        <span class = "h5">1500</span>
                        <span class = "h5"> - </span>
                        <span class = "h5">4000</span>
                        <span class = "h5"> MZN</span>
                    </div>
                </div>
                <div class = "event-imagebox">
                    <img class = "event-image" src="../../../assets/images/BD CROP.jpeg" alt="">
                </div>
            </div>

            <div class = "event">
                <div class = "event-info">
                    <div class = "event-name">
                        <span class="h4">Carnaval do Picasso</span>
                    </div>
                    <div class = "event-location">
                        <span class="material-symbols-outlined">
                            pin_drop
                        </span>
                        <span class = "p2">South Beach - Maputo</span>
                    </div>
                    <div class = "event-dativity">
                        <div class = "event-date">
                            <span class="material-symbols-outlined">
                                calendar_month
                            </span>
                            <span class = "p2">01/01/2000</span>
                            <span class = "p2 hour">18:00</span>
                        </div>
                        <div class="event-status">
                            <span class="material-symbols-outlined">
                                radio_button_checked
                            </span>
                            <span class = "p2">Activo</span>
                            
                        </div>
                    </div>
                    <div class = "event-price">
                        <span class = "h5">1500</span>
                        <span class = "h5"> - </span>
                        <span class = "h5">4000</span>
                        <span class = "h5"> MZN</span>
                    </div>
                </div>
                <div class = "event-imagebox">
                    <img class = "event-image" src="../../../assets/images/BD CROP.jpeg" alt="">
                </div>
            </div>
        </div>

    </div>

    <div id = "menu3">
        <div>
            <span class="material-symbols">account_circle</span>
            <p>Shelton Macave</p>
        </div>
        <a href="">
            <span class="material-symbols">dashboard</span>
            Visualizar Perfil
        </a>
        <button>
            <span class="material-symbols">logout</span>
            Logout
        </button>
    </div>
</section>

<footer>
    <div id = "foot1">
        <div class = "foot1in">
            <h5>Suporte</h5>
            <a class = "a2" href="#">FAQ</a>
            <a class = "a2" href="#">Suporte Técnico</a>
            <a class = "a2" href="#">Feedback e Sugestões</a>
        </div>
        <div class = "foot1in">
            <div class="foot2in1">
                <img src="../../../assets/images/logo_empty.png" alt="Logo">
            </div>
            <div class="foot2in1" id = "f2in2">
                <i class="fa fa-whatsapp"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-instagram"></i>
            </div>
        </div>
    </div>

    <div id = "foot2">
        <div class = "foot2in">
            <h5>Termos e Políticas</h5>
            <a class = "a2" href="#">Termos de Uso</a>
            <a class = "a2" href="#">Política de Cookies</a>
            <a class = "a2" href="#">Política de Privacidade</a>
        </div>
        <div class="foot2in">
            <a class = "a2" href="#">hyperfest&#64;gmail.com</a>
            <a class = "a2" href="#">+258 82 355 1117</a>
            <a class = "a2" href="#">+258 85 567 3021</a>
        </div>
    </div>

    <div id ="foot3">
        <hr>
        <p class = "p2">©HyperFest. Todos os direitos reservados.</p>
    </div>
</footer>